# Lego Database

I got the idea for this analysis from [Kaggle](https://www.kaggle.com/rtatman/lego-database)

In [1]:
import sqlite3
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
conn = sqlite3.connect('lego.db')
cur = conn.cursor()

In [ ]:
# create the DataFrames with all the raw data
# sets = pd.read_csv('sets.csv')
# themes = pd.read_csv('themes.csv')

# parts = pd.read_csv('parts.csv')
# part_categories = pd.read_csv('part_categories.csv')
# colors = pd.read_csv('colors.csv')

# inventories = pd.read_csv('inventories.csv')
# inv_parts = pd.read_csv('inventory_parts.csv')
# inv_sets = pd.read_csv('inventory_sets.csv')

In [15]:
# Create all tables

cur.execute("""
            CREATE TABLE IF NOT EXISTS Sets (
            Set_Num TEXT NOT NULL,
            Name TEXT,
            Year INTEGER,
            Theme_Id INTEGER,
            Num_Parts INTEGER)
            """)

cur.execute("""
            CREATE TABLE IF NOT EXISTS Themes (
            Id INTEGER NOT NULL,
            Name TEXT,
            Parent_Id INTEGER,
            PRIMARY KEY (Id))
            """)

cur.execute("""
            CREATE TABLE IF NOT EXISTS Parts (
            Part_Num TEXT NOT NULL,
            Name TEXT,
            Part_Cat_Id INTEGER,
            Part_Material TEXT,
            PRIMARY KEY (Part_Num))
            """)

cur.execute("""
            CREATE TABLE IF NOT EXISTS Part_Categories (
            Id INTEGER NOT NULL,
            Name TEXT,
            PRIMARY KEY (Id))
            """)

cur.execute("""
            CREATE TABLE IF NOT EXISTS Colors (
            Id INTEGER NOT NULL,
            Name TEXT,
            RGB TEXT,
            Is_Trans TEXT,
            PRIMARY KEY (Id))
            """)

cur.execute("""
            CREATE TABLE IF NOT EXISTS Inventories (
            Id INTEGER NOT NULL,
            Version INTEGER,
            Set_Num TEXT,
            PRIMARY KEY (Id))
            """)

cur.execute("""
            CREATE TABLE IF NOT EXISTS Inventory_Parts (
            Inventory_Id INTEGER NOT NULL,
            Part_Num TEXT,
            Color_Id INTEGER,
            Quantity INTEGER,
            Is_Spare TEXT,
            PRIMARY KEY (Inventory_Id))
            """)

cur.execute("""
            CREATE TABLE IF NOT EXISTS Inventory_Sets (
            Inventory_Id INTEGER NOT NULL,
            Set_Num TEXT,
            Quantity INTEGER,
            PRIMARY KEY (Inventory_Id))
            """)

conn.commit()

In [16]:
sets = pd.read_csv('sets.csv')
themes = pd.read_csv('themes.csv')
parts = pd.read_csv('parts.csv')
part_categories = pd.read_csv('part_categories.csv')
colors = pd.read_csv('colors.csv')
inventories = pd.read_csv('inventories.csv')
inv_parts = pd.read_csv('inventory_parts.csv')
inv_sets = pd.read_csv('inventory_sets.csv')

sets.to_sql('Sets', conn, if_exists='append', index=False)
themes.to_sql('Themes', conn, if_exists='append', index=False)
parts.to_sql('Parts', conn, if_exists='append', index=False)
part_categories.to_sql('Part_Categories', conn, if_exists='append', index=False)
colors.to_sql('Colors', conn, if_exists='append', index=False)
inventories.to_sql('Inventories', conn, if_exists='append', index=False)
inv_parts.to_sql('Inventory_Parts', conn, if_exists='append', index=False)
inv_sets.to_sql('Inventory_Sets', conn, if_exists='append', index=False)

conn.commit()

IntegrityError: UNIQUE constraint failed: Sets.Set_Num

In [17]:
query = """
SELECT *
FROM Sets
"""

sets = pd.read_sql(query, conn)
sets

           Set_Num                             Name  Year  Theme_Id  Num_Parts
0            001-1                            Gears  1965         1         43
1           0011-2                Town Mini-Figures  1978        84         12
2           0011-3       Castle 2 for 1 Bonus Offer  1987       199          0
3           0012-1               Space Mini-Figures  1979       143         12
4           0013-1               Space Mini-Figures  1979       143         12
...            ...                              ...   ...       ...        ...
15898   XMASTREE-1                   Christmas Tree  2019       410         26
15899      XWING-1              Mini X-Wing Fighter  2019       158         60
15900      XWING-2                X-Wing Trench Run  2019       158         52
15901  YODACHRON-1  Yoda Chronicles Promotional Set  2013       158        413
15902     ZX8000-1             ZX 8000 LEGO Sneaker  2020       501          0

[15903 rows x 5 columns]

In [18]:
query = """
SELECT *
FROM Parts
"""

parts = pd.read_sql(query, conn)
parts

Empty DataFrame
Columns: [Part_Num, Name, Part_Cat_Id, Part_Material]
Index: []

In [ ]:
# - INSERT INTO... VALUES...

for student_id, info in students_info.items():
    student = []
    student.append(student_id)
    student.append(info['name'])
    student.append(info['address'])
    student.append(info['phone_n'])
    student.append(info['email'])
    student = tuple(student)
    cur.execute("""
            INSERT INTO StudentInfo
            VALUES (?, ?, ?, ?, ?)""",
            (student[0], student[1], student[2], student[3], student[4]))
conn.commit()